/* .like_emoji {
  display: none;
} */
.emoji_set {
  display: flex;
  position: absolute;
  /* background-color: blueviolet; */
  border-radius: 20px;
  margin-top: -81px;
  margin-left: -74px;
}
.emoji_set .zama-emoji:hover {
  transform: scale(0.6);
}
